# Host
HOST_APP_DIR=/home/dqlopez/Dev
HOST_NGINX_HTTP_PORT=80

# Nginx
NGINX_WEB_ROOT=/var/www/html
NGINX_EXPOSE_HTTP_PORT=80
NGINX_SITES_PATH=./services/nginx/sites/
NGINX_SITES_AVAILABLE_PATH=/etc/nginx/sites-available

# Drivers
VOLUMES_DRIVER=local
NETWORKS_DRIVER=default

# Networks
IPV4_STATIC_IP=172.16.238.10
IPV6_STATIC_IP=2001:3984:3989::10
IPV4_SUBNET_MASK=172.16.238.0/24
IPV6_SUBNET_MASK=2001:3984:3989::/64